.card {
  gap: 10px;
  padding: 20px;
  width: 325px;
  min-height: 119px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__body{
    p {
      font-size: 14px;
      line-height: 17px;
    }
    span {
      font-size: 14px;
      line-height: 17px;
      font-weight: 700;
    }
  }
  &__delete {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
  }
}
